{% extends 'base.html' %}

{% block titulo %}
    <title>Lista de Programas</title>
{% endblock titulo %}
    

{% block contenido %}
    <body>
        <h1>Programas </h1>
        <a class="btn btn-primary" href="{% url 'nuevo_programa' %}">Nuevo programa</a>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Unidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                {% for programa in programas %}
                <tr>
                    <td>{{programa.id}}</td>
                    <td>{{programa.nombre}}</td>
                    <td>{{programa.descripcion}}</td>
                    <td>{{programa.unidad_academica}}</td>
                    <td>|
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Eliminar
                          </button>
                        <a class="btn btn-outline-secondary" href="{% url 'editar_programa' programa.id %}">actualizar</a>
                    </td>
                </tr>
                        <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Estas seguro que quieres eliminar?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-outline-danger"  href="{% url 'eliminar_programa' programa.id %}">Eliminar</a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
                    
            </tbody>
        </table>
    </body>
{% endblock contenido %}
